In [114]:
import pandas as pd
import numpy as np
from functools import reduce

In [149]:
# Select & merge features across years
final_df = pd.DataFrame()
for i in range(2016, 2020):
    geo = pd.read_csv(f"./University_data/hd{i}.csv", encoding="ISO-8859-1")
    adm = pd.read_csv(f"./University_data/adm{i}.csv")
    fee = pd.read_csv(f"./University_data/ic{i}_ay.csv")
    geo = geo.loc[:, ["UNITID", "INSTNM", "ADDR", "CITY", "STABBR", "LONGITUD", "LATITUDE"]]
    adm = adm[["UNITID"] + [col for col in adm.columns if col.startswith(("SAT", "ACT"))]]
    fee = fee.loc[:, ["UNITID", "TUITION2", "TUITION3"]].replace(".", np.nan).dropna().astype(int)
    df = reduce(lambda left, right: pd.merge(left, right, how="inner", on="UNITID"), [geo, adm, fee])
    df["YEAR"] = i
    df = df.dropna()
    final_df = final_df.append(df)
final_df = final_df.set_index(["UNITID", "YEAR"]).sort_index()

In [162]:
# Check the school with annual tuition more than 50000
final_df[final_df["TUITION3"] > 50000].drop_duplicates(subset="INSTNM")

,,INSTNM,ADDR,CITY,STABBR,LONGITUD,LATITUDE,SATNUM,SATPCT,ACTNUM,ACTPCT,...,SATMT25,SATMT75,ACTCM25,ACTCM75,ACTEN25,ACTEN75,ACTMT25,ACTMT75,TUITION2,TUITION3
UNITID,YEAR,,,,,,,,,,,,,,,,,,,,,
110404,2018,California Institute of Technology,1200 E California Blvd,Pasadena,CA,-118.125878,34.137349,157.0,68.0,120.0,52.0,...,790.0,800.0,35.0,36.0,35.0,36.0,35.0,36.0,50487,50487
111948,2017,Chapman University,One University Dr.,Orange,CA,-117.851481,33.793678,959.0,57.0,1072.0,63.0,...,590.0,680.0,25.0,30.0,25.0,32.0,24.0,29.0,50210,50210
112260,2016,Claremont McKenna College,500 E 9th St,Claremont,CA,-117.706593,34.102323,159.0,50.0,193.0,60.0,...,670.0,750.0,31.0,33.0,30.0,33.0,28.0,33.0,50700,50700
115409,2016,Harvey Mudd College,301 Platt Blvd.,Claremont,CA,-117.710594,34.106137,155.0,72.0,126.0,58.0,...,740.0,800.0,32.0,35.0,32.0,35.0,32.0,35.0,52383,52383
120254,2016,Occidental College,1600 Campus Rd,Los Angeles,CA,-118.210783,34.126224,299.0,60.0,265.0,53.0,...,600.0,720.0,28.0,31.0,28.0,34.0,26.0,31.0,50492,50492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234207,2018,Washington and Lee University,204 West Washington Street,Lexington,VA,-79.443018,37.788939,212.0,45.0,262.0,55.0,...,678.0,760.0,31.0,34.0,33.0,35.0,28.0,33.0,51420,51420
237057,2018,Whitman College,345 Boyer Ave,Walla Walla,WA,-118.331546,46.069815,158.0,37.0,229.0,54.0,...,620.0,740.0,27.0,32.0,26.0,35.0,25.0,31.0,51370,51370
238333,2019,Beloit College,700 College St,Beloit,WI,-89.029285,42.504022,91.0,35.0,85.0,33.0,...,530.0,700.0,24.0,30.0,24.0,33.0,21.0,28.0,51050,51050
243744,2018,Stanford University,,Stanford,CA,-122.167359,37.429434,1174.0,69.0,925.0,55.0,...,720.0,800.0,32.0,35.0,34.0,36.0,30.0,35.0,50703,50703
441982,2018,Franklin W Olin College of Engineering,1000 Olin Way,Needham,MA,-71.263378,42.293527,49.0,58.0,47.0,56.0,...,750.0,790.0,34.0,35.0,33.0,35.0,34.0,35.0,50400,50400

In [164]:
# Check info by specific schools
final_df[final_df["INSTNM"] == "University of Pennsylvania"]

                                 INSTNM                  ADDR          CITY  \
UNITID YEAR
215062 2016  University of Pennsylvania  34th & Spruce Street  Philadelphia
       2017  University of Pennsylvania  34th & Spruce Street  Philadelphia
       2018  University of Pennsylvania  34th & Spruce Street  Philadelphia
       2019  University of Pennsylvania  34th & Spruce Street  Philadelphia

            STABBR  LONGITUD   LATITUDE  SATNUM  SATPCT  ACTNUM  ACTPCT  ...  \
UNITID YEAR                                                              ...
215062 2016     PA -75.19391  39.950929  1429.0    57.0  1062.0    43.0  ...
       2017     PA -75.19391  39.950929  1138.0    46.0  1318.0    54.0  ...
       2018     PA -75.19391  39.950929  1366.0    54.0  1152.0    46.0  ...
       2019     PA -75.19391  39.950929  1499.0    62.0   901.0    38.0  ...

             SATMT25  SATMT75  ACTCM25  ACTCM75  ACTEN25  ACTEN75  ACTMT25  \
UNITID YEAR
215062 2016    700.0    800.0     32.0     35.0     32.0     35.0     30.0
       2017    720.0    790.0     32.0     35.0     33.0     35.0     30.0
       2018    730.0    790.0     32.0     35.0     34.0     36.0     31.0
       2019    750.0    800.0     33.0     35.0     34.0     36.0     32.0

             ACTMT75   TUITION2  TUITION3
UNITID YEAR
215062 2016      35.0     45556     45556
       2017      35.0     47416     47416
       2018      35.0     49220     49220
       2019      35.0     51156     51156

[4 rows x 22 columns]

In [165]:
# Export data
final_df.to_csv("./University_data/merged_data.csv")